* {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}

menu {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article {
  padding: 30px;
}

label {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}


.dropdown {
  position: relative;
  display: block;
  /* transition-duration: 0.5s; */
 }
 
 .dropdownContent {
   /* clear: both;
   width: 100%; */
   display: none;
   position: relative;
   background-color: rgb(63, 62, 62);
   color: pink;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
  }

.dropdown:hover .dropdownContent {
  display: block;

}
